.label {
  font-size: 18px;
  font-weight: 700;
  color: black;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.input {
  border-radius: 5px;
  border-color: gray;
  padding: 5px;
  width: 200px;
}
